@page "/logout"
@inject NavigationManager NavigationManager

<PageTitle>Cerrando sesi贸n...</PageTitle>

<p>Cerrando sesi贸n...</p>

@code {
    protected override void OnInitialized()
    {
        // Redirigir al controlador de cuenta para cerrar sesi贸n correctamente
        // forceLoad: true es CRITICO para que sea una petici贸n HTTP nueva
        NavigationManager.NavigateTo("Account/Logout", forceLoad: true);
    }
}
